* {
    background-color: #d7d7d7;
}
.Work {
    font-family: 'Abel', sans-serif;
}
.Blog {
    font-family: 'Abel', sans-serif;
}
.Services {
    font-family: 'Abel', sans-serif;
}
.Contact {
    font-family: 'Abel', sans-serif;
}
.codeup-header {
    font-family: 'Abel', sans-serif;
}
.visual-web {
    font-family: 'Anton', sans-serif;
    font-size: 40px;

}
.location {
    font-family: 'Anton', sans-serif;
    font-size: x-large;
    margin: 0;
}

.circle {
    height: 95px;
    width: 95px;
    font-family: 'Anton', sans-serif;
    color: white;
    border: solid 6px white;
    margin-bottom: 3px;


}
.circle-red {
    background-color: #E6563B;
    align-items: center;
    justify-content: center;
    display: flex;
}

.circle-orange {
    background-color: #EB9D3A;
    align-items: center;
    justify-content: center;
    display: flex;

}
.circle-green {
    background-color: #7Cb06c;
    align-items: center;
    justify-content: center;
    display: flex;

}
.circle-teal {
    background-color: #00ABA9;
    align-items: center;
    justify-content: center;
    display: flex;
}

img {
    width: 100%;
    height: auto;
    border: 10px solid #acabab;
    border-radius: 20px;
    display: flex;
    align-content: center;
    margin-bottom: 5px;
    margin-top: 15px;
}

.mini-logos {
    width: 30px;
    height: 30px;
    border: none;
    font-family: 'Anton', sans-serif;
    color: black;



}
.mini-red {
    background-color: #E6563B;
}
.mini-orange {
    background-color: #EB9D3A;
}
.mini-green {
    background-color: #7Cb06c;
}
.mini-teal {
    background-color: #00ABA9;
}

.small-pictures{
    width: 100px;
    height: 100px;
    border: 5px solid #acabab;
    border-radius: 0px;
}
.last-font{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-top: 35px;
}
.twitter{
    width: 55px;
    height: 55px;
    border: none;
}
.tweet{
    margin-top: 35px;
}