* {
    background-color: #d7d7d7;
}
.Work {
    font-family: 'Abel', sans-serif;
}
.Blog {
    font-family: 'Abel', sans-serif;
}
.Services {
    font-family: 'Abel', sans-serif;
}
.Contact {
    font-family: 'Abel', sans-serif;
}
.codeup-header {
    font-family: 'Abel', sans-serif;
}
.visual-web {
    font-family: 'Anton', sans-serif;
    font-size: 42px;

}
.location {
    font-family: 'Anton', sans-serif;
    font-size: x-large;
    margin: 0;
}

.circle {
    height: 150px;
    width: 150px;
    font-family: 'Anton', sans-serif;
    color: white;
    border: solid 6px white;
}
.circle p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ;
}
.circle-red {
    background-color: #E6563B;
}
.circle-orange {
    background-color: #EB9D3A;
}
.circle-green {
    background-color: #7Cb06c;
}
.circle-teal {
    background-color: #00ABA9;
}

img {
    width: 100%;
    border: 10px solid #acabab;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.mini-logos {
    width: 30px;
    height: 30px;
    border: none;
    font-family: 'Anton', sans-serif;
    color: black;

}
.mini-red {
    background-color: #E6563B;
}
.mini-orange {
    background-color: #EB9D3A;
}
.mini-green {
    background-color: #7Cb06c;
}
.mini-teal {
    background-color: #00ABA9;
}